/*Global*/
* {
  margin: 0;
  padding: 0;
}
body {
  width: 60%;
  margin: 0 auto;
}
/*About*/
.about-group {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}
.about-group div {
  display: inline-block;
  float: left;
  width: 50%;
}
.about-what-we-do {
  width: 100%;
}
.about-what-we-do ul {
  width: 100%;
  overflow: hidden;
}
.about-what-we-do li {
  display: inline-block;
  float: left;
  width: 25%;
}
.about-what-we-do li img {
  width: 100%;
  height: 154px;
}
/*Gallery*/
div.gallery-image {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery-image:hover {
  border: 1px solid #777;
}
div.gallery-image img {
  width: 100%;
  height: auto;
}
div.gallery-image p {
  padding: 15px;
  text-align: center;
}
