/*Font*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic,300italic,300);

/*Mixins*/

.font-size(@size) {
  font-size: e(%("%dpx", @size));
  line-height: e(%("%drem", @size/10));
}

.border-dotted(){
    border: none;
    border-bottom: 2px;
    border-bottom-color: @border;
    border-bottom-style: dotted;
}

/*Variables*/

@border: #e9e9e9; /*For dotted border gray*/
@hover: #ff6f53;
@error: #f41313;
@text: #ccc;
@background: #f6f6f6;

/*Global*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%; /*Font size standard for calculate the font in px*/
    font-family: 'Open Sans', Arial, sans-serif;
    /*margin: 0 auto;
    width: 60%;*/
}

p {
    .font-size(12);
    color: @text;
    word-spacing: 5px;
}

a {
    text-decoration: none;
}

ul {
    list-style-image: url('../img/arrow.png');
}

.content {
    margin: 0 auto;
    overflow: hidden;
    width: 1060px;
}

/*Navigation Menu*/

#menu {
    margin: 0 auto; 
    text-align: center;    
    ul {    
		list-style: none;
		position: relative;
		display: inline-table;      
        ul {
            display: none;
            background: #f36e56;
            position: absolute; 
			top: 100%;
			z-index:1;
            li {
                float: none;
                position: relative;				 				
                a {
				color: white;
                opacity: 0.5;
                }     
				a:hover {
					border: none;
					opacity: 1;
				}				
            }
        }
        li {    
			margin: 4px;
			float: left;
			padding: 14px 6px;						
			a {
                display: inline-block;
                text-decoration: none;
				opacity: 0.5;
            }			
        }       
        li:hover > ul{
            display: block;			
        }
        a:hover {  
            .border-dotted();
			opacity: 1;
			margin-bottom:-2px;
        }
    }   
    li a {
        color: black;    
        text-decoration: none;
    }
} 

/*About*/

.about-sectionb{
    background: @background;
}

.about-group {
    box-sizing: border-box;
    div {
        display: inline-block;
        float: left;
    }
}

.about-group-info{
    margin: 0 0 90px 55px;
    width: 605px;
    h1{
        .font-size(40);
        width: 605px;
    }
    h2{
        .font-size(21);
        margin-bottom: 12px;
    }
    h2, img, p{
        float: left;
    }
    h2, h2 + p {
        margin-left: 20px;
        width: 300px;
    }

    p:last-child{
        width: 605px;
    }

    img{
        width: 285px;
        height: 215px;
        margin: 10px 0 28px 0;
    }
}

.about-group-points{
    margin: 0 55px 0 35px;
    width: 295px;
    h2{
        .font-size(40);
    }
}

.points{
    list-style-image: url('../img/arrow.png') center; 
    p{
        margin-bottom: 10px;
    }
}

.about-what-we-do {
    padding: 90px 0;
    h2{
        .border-dotted();
        .font-size(21);
        margin: 0 55px 35px 55px;
        padding-bottom: 15px;
    }
    ul {
        box-sizing: border-box;
        margin: 0 55px;
        overflow: hidden;
    }
    li {
        display: inline-block;
        float: left;
        margin: 0 10px;
        padding: 0;
        width: 222px;
        p {
            margin-bottom: 25px;
        }
    }
    li a{
        .border-dotted();
        .font-size(11);
        text-transform: uppercase;
        &:hover{
            color: @hover;
        }
        &:focus{
            color: @hover;
        }
    }
    li:first-child {
        margin: 0 10px 0 0;
    }
     li:last-child {
        margin: 0 0 0 10px;
    }
    li img {
        height: 154px;
        margin-bottom: 25px;
        width: 222px;
    }
}

/*Gallery*/

.gallery-image {
    margin: 10px;
    float: left;
    width: 30%;
    box-sizing: border-box;
    position: relative;
    background: url('../img/gallery/gallery_overlay.jpg') no-repeat;
    background-size: 100%;
	h2{
        .font-size(21);
    }
    a {
        color: black;    
        text-decoration: none;
    }
    img {
        width: 100%;
        height: auto;
    }
    
    
    p {
        color: grey;
    }   
}   
.gallery-image:hover{ 
    img {opacity: 0.5; }
	h2 {color: #f36e56; }
}
.gallery-title {
	.font-size(30);
	margin: 0 10px 10px;
}

/*Training*/

.training-info {
    float: left;
    margin: 0 0 90px 55px;
    width: 605px;
    h1 {
        .font-size(30);
        margin-bottom: 10px;
        width: 605px;
    }
}

.training-info-group {
    margin-bottom: 90px;
    h2{
        .font-size(21);
        margin-bottom: 10px;
        width: 605px;
    }
    p {
        margin-bottom: 15px;
    }
    a {
        .border-dotted();
        .font-size(11);
        text-transform: uppercase;
        &:hover{
            color: @hover;
        }
        &:focus{
            color: @hover;
        }
    }
}

.training-programs{
    h2{
        .font-size(30);
        line-height: 2rem;
        margin-bottom: 25px;
        width: 605px;
    }
    ul{
        width: 580px;
        margin-left: 20px;
    }
}

.course-descriptions {
    float: left;
    width: 295px;
    margin: 0 55px 0 35px;
    h2{
        .font-size(30);
        line-height: 2rem;
        margin-bottom: 25px;
        width: 295px;
    }
    img{
        height: 165px;
        margin-bottom: 15px;
        width: 295px;
    }
    p {
        margin-bottom: 15px;
    }
    a {
        .border-dotted();
        .font-size(11);
        text-transform: uppercase;
        &:hover{
            color: @hover;
        }
        &:focus{
            color: @hover;
        }
    }
}

.training-points{
    background: @background;
    h2 {
        .border-dotted();
        .font-size(21);
        margin: 0 0 35px 0;
        padding-bottom: 15px;
    }
}

.training-points-group{
    padding: 90px 0;
}

.teacher-links {
    float: left;
    margin: 0 0 0 55px;
    width: 605px;
    ul {
        width: 605px;
        margin-left: 20px;
        li {
            width: 300px;
            float: left;
        }
    }
}

.fresh-links {
    margin: 0 55px 0 35px;
    width: 295px;
    float: left;
    ul{
        width: 275px;
        li{
            margin-left: 20px;
        }
    }
}

/*Contact*/

.contact-group{
    box-sizing: border-box;
}

.contact-group-data{
    display: inline-block;
    float: left;
    margin: 0 55px;
    overflow: hidden;
    width: 540px;
    h1{
        margin-bottom: 28px;
        .font-size(40);
    }
    h2{
        .font-size(29);
        margin-bottom: 15px;
        width: 540px;
    }
}

.contact-data{
        display: inline-block;
        float: left;
        width: 250px;
        margin-right: 10px;
        p{
            .font-size(18);
            color: @text;
        }
}

.contact-group-form{
    display: inline-block;
    float: left;
    margin: 0 55px;
    overflow: hidden;
    width: 300px;
    h2 {
        margin-bottom: 28px;
        .font-size(40);
    }
    p {
        display: none;
    } 
    textarea{
        border: 1px solid @border ;
        display: block;
        height: 328px;
        margin: 6px 0 28px 0;
        width: 298px;
    }

}

.contact-group-map{
    width: 540px;
    height: 272px;
    margin-bottom: 28px;
}

.contact-form{
    p{
        color: @error;
    }
}

.space-form{
    border: 1px solid @border;
    display: block;
    height: 40px;
    margin: 6px 0;
    width: 298px;
}

.button-input{
    .border-dotted();
    .font-size(11);
    background: none;
    display: inline-block;
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    &:hover{
        color: @hover;
    }
    &:focus{
        color: @hover;
    }
    &:active{
        color: @hover;
    }
}
