/*Font*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic,300italic,300);

/*Mixins*/

.font-size(@size) {
  font-size: e(%("%dpx", @size));
  line-height: e(%("%drem", @size/10));
}

.border-dotted(){
    border: none;
    border-bottom: 2px;
    border-bottom-color: @border;
    border-bottom-style: dotted;
}

/*Variables*/

@border: #e9e9e9; /*For dotted border gray*/
@hover: #ff6f53;
@error: #f41313;
@text: #ccc;
@background: #f6f6f6;

/*Global*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%; /*Font size standard for calculate the font in px*/
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0 auto;
    width: 60%;
}

p {
    .font-size(12);
    color: @text;
    word-spacing: 5px;
}

ul {
    list-style-image: url('../img/arrow.png');
}

/*Navigation Menu*/

#menu {
    margin: 0 auto; 
    text-align: center;
    
    ul {    
      list-style: none;
      position: relative;
      display: inline-table;
      
        ul {
            display: none;
            background: #f36e56;
            position: absolute; top: 100%;
            li {
                float: none;
                position: relative;
                a {
                padding: 15px 40px;
                color: #fff;
                }           
            }
        }
        li {    
          margin: 4px;
          float: left;
          padding: 14px 16px;
          a {
                display: block;
                text-decoration: none;
            }
        }       
        li:hover > ul{
            display: block;
        }
        ul li a:hover {
            background: #4b545f;

        }
        a:hover {  
            border-bottom: grey 1px dotted;
        }
    }   
    li a {
        color: black;    
        text-decoration: none;
    }
    
    
} 

/*About*/

.about-sectionb{
    background: @background;
}

.about-group {
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    width: 1060px;
    div {
        display: inline-block;
        float: left;
    }
}

.about-group-info{
    margin: 0 0 90px 55px;
    width: 605px;
    h1{
        .font-size(40);
        width: 605px;
    }
    h2{
        .font-size(21);
        margin-bottom: 12px;
    }
    h2, img, p{
        float: left;
    }
    h2, h2 + p {
        margin-left: 20px;
        width: 295px;
    }

    p:last-child{
        width: 605px;
    }

    img{
        width: 290px;
        margin-bottom: 28px;
    }
}

.about-group-points{
    margin: 0 55px 0 35px;
    width: 295px;
    h2{
        .font-size(40);
    }
}

.points{
    list-style-image: url('../img/arrow.png') center; 
    p{
        margin-bottom: 10px;
    }
}

.about-what-we-do {

    margin: 0 auto;
    width: 1060px;
    h2{
        .border-dotted();
        margin: 0 55px;
    }
    ul {
        margin: 0 55px;
        overflow: hidden;
    }
    li {
        display: inline-block;
        float: left;
        width: 25%;
    }
    li img {
        width: 100%;
        height: 154px;
    }
}

/*Gallery*/

.gallery-image {
    margin: 5px;
    float: left;
    width: 30%;
    box-sizing: border-box;
    position: relative;
    background: url('../img/gallery/gallery_overlay.jpg') no-repeat;
    background-size: 100%;
    a {
        color: black;    
        text-decoration: none;
    }
    img {
        width: 100%;
        height: auto;
    }
    
    
    p {
        color: grey;
    }   
}   
.gallery-image:hover{ 
    img {opacity: 0.5; }
    h2 {color: #f36e56; }
}

/*Training*/

.training-info {
    width: 60%;
    float: left;
}

.course-descriptions {
    width: 40%;
    float: left;
}

.teacher-links {
    width: 60%;
    float: left;
    ul {
        li {
            width: 50%;
            float: left;
        }
    }
}

.fresh-links {
    width: 40%;
    float: left;
}

/*Contact*/

.contact-group{
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    width: 1060px;
}

.contact-group-data{
    display: inline-block;
    float: left;
    margin: 0 55px;
    overflow: hidden;
    width: 540px;
    h1{
        margin-bottom: 28px;
        .font-size(40);
    }
    h2{
        .font-size(29);
        margin-bottom: 15px;
        width: 540px;
    }
}

.contact-data{
        display: inline-block;
        float: left;
        width: 250px;
        margin-right: 10px;
        p{
            .font-size(18);
            color: @text;
        }
}

.contact-group-form{
    display: inline-block;
    float: left;
    margin: 0 55px;
    overflow: hidden;
    width: 300px;
    h2 {
        margin-bottom: 28px;
        .font-size(40);
    }
    p {
        display: none;
    } 
    textarea{
        border: 1px solid @border ;
        display: block;
        height: 328px;
        margin: 6px 0 28px 0;
        width: 298px;
    }

}

.contact-group-map{
    width: 540px;
    height: 272px;
    margin-bottom: 28px;
}

.contact-form{
    p{
        color: @error;
    }
}

.space-form{
    border: 1px solid @border;
    display: block;
    height: 40px;
    margin: 6px 0;
    width: 298px;
}

.button-input{
    .border-dotted();
    .font-size(11);
    background: none;
    display: inline-block;
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    &:hover{
        color: @hover;
    }
    &:focus{
        color: @hover;
    }
    &:active{
        color: @hover;
    }
}
