/* -------------------------------------------------------
---------------------------------------------------------- 
												TABLET
----------------------------------------------------------
--------------------------------------------------------*/
@media (min-width: 551px) and (max-width: 799px) {

	#wrapper {
		width: 100%;
		margin: 0 auto;
	}

	.logoContainer {
		width: 100%;
		margin: 0 auto;
	}

	.logoContainer img {
		padding-left: 40%;
	}


	/* ------------------------------- BLOG SECTION */

	#sliderIndex {
		clear: both;
		width: 100%;
		margin: 0 auto;
		padding: 2%;
	}

	/* ------------------------------- PILL MENU */

	#infoArea {
		height: 300px;
		margin: 0 auto;
		background-color: #ff6f53;
    	color: #fff;
    	padding: 1.5%;
		clear: both;	
	}

	.pillNavigation{
		width: 100%;
		padding: 20px 0 20px 0;
		margin: 0 auto;
	}

	.fade {
		opacity: 0;
		-webkit-transition: opacity 0.25s linear;
  		-moz-transition: opacity 0.25s linear;
   		-ms-transition: opacity 0.25s linear;
		-o-transition: opacity 0.25s linear;
		   transition: opacity 0.25s linear;
	}

	.pillNavigation ul li a{
		
		font-size: 12px;
		font-weight: bold;
		color: #ffb0a1;
		padding-top: 15%;
		text-align: right;
	}

	.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
		background-color: #ff6f53;
		border-style: none;
	}

	.nav-pills > li > a:focus, .nav-pills > li > a:hover {
		color: #fff;
		background-color: #ff6f53;
		border-style: none;
		outline: none;

	}

	.nav-pills{
		border-right: 0.5px;
		border-style: dotted;
		border-color: #ffb0a1;
	}

	.pillNavigation .tab-content .tab-pane > h2 {
		font-size: 35px;
		font-weight: bold;
	}

	.pillNavigation .tab-content .tab-pane > p {
		font-size: 12px;
		font-weight: bold;
		line-height: 20px;
	}

	.pillNavigation .tab-content .tab-pane p > a {
		font-size: 10px;
		color:#fff;
		text-decoration: underline dotted;
	}
	/* ------------------------------- BLOG SECTION */
	#blogIndex {
		width: 100%;
		margin: 50px auto;
		clear: both;
		padding: 3%;
		
		}

	#blogIndex .recentPost {
		font-size: 11px;
		color: #494949;
		}

	.blogImg{
		margin-bottom: 35px;
		float: left;
		}

	figure{
		margin-right: 20px;
	}

	.textBlog, .authorInfo {
		margin-top: 20px;
		}

		.authorInfo {
		margin-bottom: 20px;
		}

	.textBlog a{
		font-weight: bold;
		font-size: 23px;
		color: #3F3E3E;
		text-align: right;
		}

	hr {
		margin: 15px;
		border-top: 1px dotted #ccc; 
		}

	.postInfo, .authorInfo a {
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
		color: #3F3E3E;
	}

	.authorInfo time {
		color: #ff6f53;
		text-transform: uppercase;
	}
	.commentIcon img {
		width: 10px;
		padding: 0 5px 0 5px;
	}

	.infoBlog {
		font-size: 15px;
		font-weight: bold;
		margin-top: 20px;
		line-height: 20px;
		color: #cccccc;
	}

	.btnBlog {
		font-size: 11px;
		color: #3F3E3E;
		text-decoration: underline dotted;
		text-transform: uppercase;
	}

	.blogInfotwo {
		clear: both;
	}

	/* ------------------------------- OWL CARROUSEL */
	#carouselOwl {
		width: 100%;
		margin: 0 auto;
		clear: both;
	}

	.bottom_block .container {
		width:95%;
	}

	#owl-demo {
		width: 100%;
    	clear: both;
	}

	#owl-demo .item{
    	margin: 3px;
	}

	#owl-demo .item img{
    	display:block;
    	width: 100%;
    	height: auto;
	}

	h3 {
    	font-size: 25px;
    	line-height: 27px;
    	color: #494949;
    	margin-bottom: 27px;
    	float: left;
	}

	.bottom_block {
  
    	margin: 0 auto;
    	padding-bottom: 60px;
    	background-color: #f6f6f6;
	}

	.item {
    	width: 100%;
	}

	.owl-controls {
    	float: right;
	}

	.owl-prev, .owl-next {
    	padding-top: 20px;
    	cursor: pointer;
    	float: left;
	}

	.owl-prev img:hover, .owl-next img:hover {
    	background-color: #ff6f53;
    	padding: 3px;
	}

	.count{
		font-size: 20px;
	}

	.container .tx {
		margin: 5px;
		font-size: 15px;
	}

	.count:hover{
		color: #ff6f53;
	}

	.item a{
		font-size: 9px;
		color: #3F3E3E;
		text-decoration: underline dotted;
		text-transform: uppercase;
	}

	.item a, .item .tx{
		color: #ccc;
	}

	.item .tx:hover, .item a:hover{
		color: #3F3E3E;
	}


	/* ------------------------------- FOOTER */

	footer {
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
		
		clear: both;
		}

	.yoga, .address, .newsletter {
		width: 28%;
		float:left;
		}

	.yoga, .address {
		margin-right: 30px;
		}


	footer h4{
		font-size: 20px;
		color: #494949;
		}

	.phone {
		font-size: 16px;
		font-weight: bold;
		color: #ff6f53;
		}

	.iconPhone {
		width: 25px;
	}

	.copy, .str {
		font-size: 12px;
		color: #3F3E3E;
	}

	.copy, .socials {
		margin: 10px 0 0 25px;
	}

	.socials img {
		width: 30px;
	}

	.str {
		font-style: normal;
		margin-top: 15px;
	}

	.str p{
		margin-left: 28px;
	}

}